.searchBarContainer {
  display: flex;
  margin-left: auto;
}

.searchBar {
  border: 2px solid #e6e6e6;
  border-radius: 15px;
  color: var(--text);
  width: 25rem;
  padding: 0.3rem
}

.searchBar::placeholder {
  color: #737373;
  padding-left: 1rem;
}

.searchBar:focus {
  outline: none;
}

// .searchIcon {
//   display: flex;
//   margin-left: auto;
//   max-width: 2%;
//   height: auto;
// }