.mainContainer {
  margin: 10rem;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #dbdbe2;

  .productData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .productPrice {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 2rem;
    font-weight: bold;
    color: var(--text);

    .originalPrice {
      text-decoration: line-through;
      color: #9491b8;
    }

    .salePrice {
      padding: 5px;
    }
  }
}

.productFound {
  display: flex;
  height: 1.8rem;
}

.underline {
  display: flex;
  align-self: flex-start;
  max-width: 15rem;
  height: 0.3rem;
  margin-bottom: 2rem;
  background: var(--underline);
}

.productImages {
  max-width: 25%;
}

.images {
  max-width: 100%;
}

.footerContainer {
  display: flex;
  align-items: center;
  margin: 10rem;

  .productPagination {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    color: var(--text);
    background: var(--background);
    border-radius: 5px;
    border: 1px solid;
  }

  .productsNumber {
    display: flex;
    align-items: center;
    padding: 0.6rem;
    color: var(--text);
    background: var(--background);
    border-radius: 5px;
    border: 1px solid;

    p {
      padding-left: 0.3rem;
    }
  }
}



.searchTitleContainer {
  height: 5rem;
  border: 2px solid #b8b8b8;
  background: #dbdbdb;

  h1 { 
    color: var(--text);
    font-weight: 300;
    font-size: 2.7rem;
  }
}

.searchTitleContent {
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
}

